__pycache__/
*.pyc
*.pyo
.env
.env.*
.venv/
venv/
node_modules/
dist/
build/
*.egg-info/
*.egg
*.so
*.dylib
*.db
*.sqlite3
*.sqlite
*.node
*.wasm
*.tiktoken
*.noindex
*.map
copilot-language-server/
autoload/
plugin/
syntax/
lua/
doc/
*.mobileconfig
*.admx
*.adml
*.ps1
